/*=========================================
        LAPTOP (1200px)
=========================================*/

@media(max-width:1200px){

    .studio{

        grid-template-columns:280px 1fr 250px;
        gap:20px;

    }

    .camera-box{

        height:550px;

    }

    .hero h1{

        font-size:48px;

    }

}


/*=========================================
            TABLET
=========================================*/

@media(max-width:992px){

header{

    padding:0 5%;

}

.hero{

    padding:60px 20px;

}

.hero h1{

    font-size:42px;

}

.hero p{

    font-size:15px;

}

.studio{

    grid-template-columns:1fr;
    gap:30px;

}

.controls{

    order:2;

}

.camera-area{

    order:1;

}

.tools{

    order:3;

}

.camera-box{

    height:500px;

}

}


/*=========================================
            MOBILE
=========================================*/

@media (max-width:576px){

    header{
        padding:15px;
    }

    header{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }

    header .logo{
        font-size:32px;
    }

    header a{
        font-size:15px;
        display:flex;
        align-items:center;
        gap:8px;
    }


.hero{

    padding:50px 20px;

}

.hero h1{

    font-size:34px;

}

.hero p{

    font-size:14px;

}

.controls,
.tools{

    padding:25px;

}

.camera-box{

    height:420px;
    font-size:22px;

}

.camera-buttons{

    flex-direction:column;
    gap:15px;

}

.camera-buttons button{

    width:100%;

}

.shade-section h2{

    font-size:30px;

}

.shade{

    width:55px;
    height:55px;

}

}


/*=========================================
        SMALL PHONES
=========================================*/

@media(max-width:576px){

.hero{

    padding:40px 15px;

}

.hero h1{

    font-size:28px;

}

.hero p{

    font-size:13px;

}

.camera-box{

    height:320px;

}

.controls h2,
.tools h2{

    font-size:22px;

}

.control-group h3{

    font-size:17px;

}

.control-group button{

    padding:12px;
    font-size:14px;

}

.tools button{

    padding:14px;
    font-size:14px;

}

.shade{

    width:45px;
    height:45px;

}

.shade-section h2{

    font-size:25px;

}

footer{

    padding:25px 15px;

}

}


/*=========================================
        iPHONE SE / VERY SMALL
=========================================*/

@media(max-width:375px){

.hero h1{

    font-size:24px;

}

.hero p{

    font-size:12px;

}

.camera-box{

    height:280px;
    font-size:18px;

}

.logo{

    font-size:24px;

}

header{

    padding:0 15px;

}

.shade{

    width:40px;
    height:40px;

}

}